<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
