<div class="flex flex-col items-center gap-6">
    <h1 class="text-6xl">Like I said earlier</h1>
    <img class="rounded-md" src={{mytype}} alt="You're totally my jam">
    {{#if showSmooch}}
        <img class="rounded-full w-40" src={{smooch}} alt="Smooching gif">
    {{/if}}
    <a href={{btnLink}}>{{btnText}}</a>
</div>