<div class="flex flex-col items-center gap-4">
    <img class="rounded-md" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjNlOWR3eHZ1d2pyc3RwNW90bzZvMTVpYWh4aTdpeXZ1dDZjMjE3bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/anFg31YNWZ1ycCfuMK/giphy.gif" alt="Perfect">
    <a href="/bemyvalentine">So will you...</a>
</div>