<div class="flex flex-col items-center gap-4">
    <img class="rounded-md" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnJ0d29vOXRibWJzZWZpc3J2ZnV5dHl1a2UybTloYXYyNWw0enQwZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hhMyf6x0TnHEw1l58Y/giphy.gif" alt="Be my valentine">
    <a href="/">X</a>
</div>