<div class="flex flex-col items-center gap-4">
    <img class="rounded-md" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjNlOWR3eHZ1d2pyc3RwNW90bzZvMTVpYWh4aTdpeXZ1dDZjMjE3bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/anFg31YNWZ1ycCfuMK/giphy.gif" alt="Perfect">
    <a class="bg-rose-300 px-4 py-2 rounded-md ring-4 ring-rose-400 hover:bg-rose-400 text-white focus:ring-rose-800 focus:bg-rose-600" href="/bemyvalentine">So will you...</a>
</div>