<div class="flex flex-col items-center gap-4">
    <div id="msg" class="text-6xl"></div>
    <div class="flex gap-6 items-center">
        <img class="rounded-md h-64" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZm5hbjhvYTc1dmtlM3Y5bnNpcjBwZzljZTc3YzNidWUzbTEzbWk2ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/wSv0sqJI7uoqSBPbNc/giphy.gif" alt="Dance">
        <img class="rounded-md" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnJ0d29vOXRibWJzZWZpc3J2ZnV5dHl1a2UybTloYXYyNWw0enQwZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hhMyf6x0TnHEw1l58Y/giphy.gif" alt="Be my valentine">
        <img class="rounded-md h-48" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbWx0bzU0eHg0Mnl0MXJ2cmNzZXhlbWtjZjIyZ3VwZWdtbmJ4c3FydCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VwrVw4Pty2RP70tvy5/giphy.gif" alt="Rose">
    </div>
    <!--absolute bottom-28-->
    <div class="flex w-[50%] justify-between mt-6">
        <button id="yes-btn" class="bg-green-500 py-4 px-6 rounded-md ring-4 ring-green-200 text-white">Yes</button>
        <button id="no-btn" class="bg-red-500 py-4 px-6 rounded-md ring-4 ring-red-200 text-white">No</button>
    </div>
    <script src="/javascripts/interactive.js"></script>
</div>