<div class="flex flex-col items-center gap-4">
    <img class="rounded-md" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTR4YW5pZDNncWMwYzByNHI4aG11M2w2aXBsamphbHdzZ3Jtc2ZjbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/uyC2ezLFU1Nm4XbDed/giphy.gif" alt="You're totally my jam">
    <a href="/stole">And...</a>
</div>