<div class="flex flex-col items-center gap-4">
    <img class="rounded-md" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZnFtOTRtajJ0aWkxY3d0N29qcHlydzJrd29wdWFuYWtwbW16ejl0NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3q2tmyH06o86kLqU/giphy.gif" alt="All the feels...">
    <a href="/perfect">Aaaaanndd....</a>
</div>